

.container{
    width: 80%;
    margin:auto;
}

.test1{
    background-color: grey;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:2rem;
    font-weight: normal;
    line-height: 2rem;
    font-weight: 800;
    text-decoration: underline;
    text-transform: uppercase;
}

.test2{
    border-top:3px solid red;
    border-bottom:3px dotted red;
    letter-spacing: 0.5em;
    word-spacing: 2em;
}

.test3{
    color:white;
    line-height: 2rem;
    margin:1rem;
    border:3px solid red;
    border-radius:10px;
    background-image: url('../img/street.jpg')
}

.test4{
    background-color: grey;
}

.test4 li{
    padding:0;
    list-style: none;
}

.test4 a:hover{
    color:red;
}

.test4 a:active{
    color:green;
}

.test4 a:visited{
    color:pink;
}

.test5 ul{
    padding:0;
    padding-left:220px;
    list-style:square;
    list-style:none;
}

.test5 li{
    list-style-image: url('../img/logo_brush.png');
    
}

.myform{
    padding:20;
}

.form-group{
    padding-bottom:20px;
}

.myform label{
    display:block;
    font-size:2rem;
}

.myform input, .myform textarea{
    width: 100%;
    background-color: burlywood;
    min-height: 2rem;
}

.myform button{
    width:100%;
    font-size:2rem;
}

.myform input[type="submit"]{
    color:green;
    font-size:2rem;
}

.myform input[type="submit"]:hover{
    background-color: pink;
}


.myform button{
    font-size: 2rem;
    background-color: brown;
}

.myform button:hover{
    background-color: yellow;
}

.testblock{
    float:left;
    width:33.3%;
    box-sizing:border-box;
}

.relative-box{
    position:relative;
    min-height:20rem;
}

.absolute-box{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
    //transform:translateY(-50%);
    background-color: yellow;
    width:100%;
    text-align: center;
}

.absolute-image{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}

.mother-flex-center{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 20rem;
}

.div-flex-center{
    width: 50%;
    text-align:center;
}

.mother-grid-center{
    display:grid;
    place-items:center;
    min-height: 20rem;
}
.div-grid-center{
    width: 50%;
    text-align:center;
}

.margins-grid{
    display:grid;
    min-height: 10rem;
}

.margins-grid p{
    text-align: center;
    margin:auto;
}
